.header-title{
    text-align: center;
    font-size: 300%; 
    color: navy;
    font-family: 'Times New Roman', Times, serif;

}
.header-subtext{
    text-align: center;
    font-size: 100%; 
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.header-bar{
    text-align: center;
    font-size: 100%; 
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.header-bar-margin{
    margin: 0 0 3% 0;
}

.nav-bar-margin{
    margin: 0 0 3% 0;
}

.header-background-image{
    background-image: url("../../assets/images/aerial-view-geneva-switzerland-shutterstock_418408996.jpg");
}

.top-card-center{
    margin: 0 auto; /* Added */

}