.header-title{
    font-size: 300%;
    color: white;
    font-family: "Lucida Console";
    margin: 5% 0 25% 0%;
}
.header-title-2{
    font-size: 100%;
    color: white;
    font-family: "Lucida Console";
    margin: 50% 0 30% 0%;

}

.header-title-3{
    font-size: 100%;
    color: white;
    font-family: "Lucida Console";
    margin: 0% 0 45% 0%;

}
.header-subtext{
    text-align: center;
    font-size: 100%; 
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.header-bar-margin{
    margin: 0 0 0 0;
    background:transparent;
    background-image:none;
    border-color:transparent;
    box-shadow:none;
    float: right;
    text-align: center;
}

.header-background-image{
    background-image: url("../../assets/images/JustinGutingEcuador.JPG");
    /* Full height */
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

.top-header{
    font-size: 100%;
    color: white;
    font-family: "Lucida Console";
    text-align: right;
    margin: 7% 0 25% 0%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    margin: 11% 2px 1% 0;
    border-radius: 50%;
  }
  

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
  
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
  
.navbar-font{
  font-family: "Lucida Console";
}
