<header>
  <div class="col-md-10 top-card-center">
    <img class="card-img-top card-image-width " src="../../assets/images/JustinGutingEcuador.JPG"
      alt="Card image cap">
    <div class="header-title">
      A Life Lived
    </div>

    <div class="header-subtext">
      Justin Guting
    </div>

    <div class="header-bar header-bar-margin">
      Traveller - Developer - Lover - Fighter - Gamer - Comedian - Protagonist - Writer of my own story - Pilot of my
      own life - Pirating the sea of life
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-bar-margin">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>s
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" routerLink="/travel">Travel</a>
          <a class="nav-item nav-link" routerLink="/inquire">Inquire</a>
          <a class="nav-item nav-link" routerLink="/about">About</a>
        </div>
      </div>
    </nav>
  </div>
</header>