<div class="col-md-8 top-card-center margin-auto">
  <div class="card bg-grey card-height">
    <ul *ngIf="users">
      <li *ngFor="let user of users.data">
        <img [src]="user.avatar">
        <p>{{user.first_name}} {{user.last_name}}</p>
      </li>
    </ul>
  </div>
</div>

<div class="row content-top-margin">
  <div class="col-md-2 offset-md-2">
    <div class="card bg-grey card-height">
      <div class="margin-auto">
        <img class="card-img-top card-image-width"
          src="../../assets/images/Nationwide_Mutual_Insurance_Company_logo.svg.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">A year of Full Time Developer Experince, and two internships</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card bg-grey card-height">
      <div class="margin-auto">
        <img class="card-img-top card-image-width" src="../../assets/images/Kent State.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Gradudated from Kent State in 2017, B.S. in Computer Science </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card bg-grey card-height">
      <div class="margin-auto">
        <img class="card-img-top card-image-width" src="../../assets/images/Angular_full_color_logo.svg.png"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Developing Angular 7.1.3 skils for front end web development</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="card bg-grey card-height">
      <div class="margin-auto">
        <img class="card-img-top card-image-width" src="../../assets/images/Boostrap_logo.svg.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Utilizing Twitter's Bootstrap Front end framework for an HTML and CSS framework</p>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg header-bar-margin">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/travel">Travel</a>
      <a class="nav-item nav-link" routerLink="/inquire">Inquire</a>
      <a class="nav-item nav-link" routerLiznk="/about">About</a>
    </div>
  </div>
</nav>