<div class="row content-top-margin">
    <div class="col-md-4">
      <div class="card">
        <div class="margin-auto card-photo-scale">
          <img src="../../assets/images/GenevaLights.jpg" class="img-fluid" alt="Italian Trulli">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-photo-scale">
      <div class="card">
        <div class="margin-auto">
          <img class="card-img-top card-image-width" src="../../assets/images/JustinGutingOnASwissMontain.jpg" class="img-fluid"
            alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-photo-scale">
      <div class="card">
        <div class="margin-auto">
          <img class="card-img-top card-image-width" src="../../assets/images/CedarPointFerrisWheel.jpg" class="img-fluid"
            alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row content-top-margin">
    <div class="col-md-4">
      <div class="card">
        <div class="margin-auto card-photo-scale">
          <img src="../../assets/images/20160109_202604.jpg" class="img-fluid" alt="Italian Trulli">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-photo-scale">
      <div class="card">
        <div class="margin-auto">
          <img class="card-img-top card-image-width" src="../../assets/images/20160122_115120.jpg" class="img-fluid" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-photo-scale">
      <div class="card">
        <div class="margin-auto">
          <img class="card-img-top card-image-width" src="../../assets/images/20160319_201045.jpg" class="img-fluid" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row content-top-margin">
    <div class="col-md-4">
      <div class="card">
        <div class="margin-auto card-photo-scale">
          <img src="../../assets/images/20160409_142158.jpg" class="img-fluid" alt="Italian Trulli">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-photo-scale">
      <div class="card">
        <div class="margin-auto">
          <img class="card-img-top card-image-width" src="../../assets/images/IMG_3250.JPG" class="img-fluid" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-photo-scale">
      <div class="card">
        <div class="margin-auto">
          <img class="card-img-top card-image-width" src="../../assets/images/IMG_1769.JPG" class="img-fluid" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>