<p class="card-text margin-auto text-padding">Currently a Workday Integrations and Conversions Consultant based in
  Chicago, IL <br>
  Certified in Workday Integrations
</p>

<div class="row">
  <div class="col-md-6 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/huron_logo.jpg">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/WorkdayPhoto.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/xsltimage.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/Java-logo-490x301.jpg">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/apisimage.png">
  </div>
</div>

<div class="row">
  <div class="col-md-3 margin-auto no-border chicago-size">
    <img src="../../assets/images/ChicagoIl.jpg">
  </div>
</div>

<p class="card-text margin-auto text-padding">Past Work Experience, Technolgies, Languages
</p>

<div class="row">
  <div class="col-md-6 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/NationwideLogo.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/new-relic.jpg">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/javascript.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/sslcertificates.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/splunk.jpg">
  </div>
</div>

<div class="row">
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/customer-service-man-icon.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/microsicon.jpg">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/microsoftactivedirectory.jpg">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/Support_Computer_Device_Tools_Repair_Configure_PC-512.png">
  </div>
  <div class="col-md-6 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/cedarfairicon.jpg">
  </div>
</div>

<p class="card-text margin-auto text-padding">Learn the technologies I used to build this Single Page Web Application
</p>

<div class="row">
  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5wtnKulcquA" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gqOEoUR5RHg" allowfullscreen></iframe>
    </div>
  </div>
</div>